*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  width: 100%;
  background: #414968;
  background: orange;
}

.container {
  display: flex;
  flex: 1;
  overflow-y: hidden;
}

.sidenav {
  width: 200px;
  background: green;
  white-space: nowrap;
  transition: width 0.3s ease-out;

  &.collapsed {
    width: 50px;

    span.label {
      display: none;
    }
  }
}

main {
  width: 100%;
  background: white;
  overflow-y: scroll;
}

footer {
  width: 100%;
  background: blue;
}

.sidenav-collapse-btn {
  cursor: pointer;
  background: none;
  border: none;
  width: 100%;
}
