*,
html,
body {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: #222;
  background: #f7f5fb;
  font-family: 'Lora', serif;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  font-size: 1.5rem;
  font-weight: 700;
}

.container {
  display: flex;
  flex: 1;
  overflow-y: hidden;
}

.sidenav {
  position: relative;
  width: 200px;
  border-right: 1px solid #ccc;
  padding-top: 0.5rem;
  overflow-x: hidden;
  white-space: nowrap;
  transition: width 0.3s ease-out;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      padding: 0.5rem 1rem;
    }
  }

  span.label {
    padding-left: 0.25rem;
  }

  &.collapsed {
    width: 52px;

    span.label {
      display: none;
    }
  }
}

.sidenav-collapse-btn {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  border: none;
  border-top: 1px solid #ccc;
  cursor: pointer;
  background: none;
}

main {
  flex: 1;
  width: 100%;
  max-width: 900px;
  padding: 0 1rem;
  margin: 0 auto;
  overflow-y: scroll;
}

footer {
  width: 100%;
  padding: 1rem;
  color: white;
  border-top: 1px solid #ccc;
}
