* {
  box-sizing: border-box;
}

html,
body {
  max-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.app {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  padding: 1rem;
  color: white;
  background: #0c2872;
  font-size: 1.5rem;
}

.main-wrapper {
  display: flex;
  flex: 1;
  overflow-y: hidden;
}

.sidenav {
  position: relative;
  width: 160px;
  border-right: 1px solid #ccc;
  padding-top: 0.5rem;
  background: #fdfdfd;
  overflow-x: hidden;
  white-space: nowrap;
  transition: width 0.3s ease-out;

  a,
  a:active,
  a:visited,
  a:hover {
    color: #007bff;

    svg {
      color: #e96f2d;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      padding: 0.5rem 1rem;

      a {
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  span.label {
    padding-left: 0.25rem;
  }

  &.collapsed {
    width: 52px;
  }
}

.sidenav-collapse-btn {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  border: none;
  border-top: 1px solid #ccc;
  font-size: 1rem;
  cursor: pointer;
  background: #eee;
}

main {
  flex: 1;
  width: 100%;
  padding: 0 1rem;
  overflow-y: scroll;
}

.main-content {
  max-width: 900px;
  margin: 0 auto;
}

footer {
  width: 100%;
  padding: 1rem;
  text-align: center;
  color: white;
  background: #0c2872;
}
